# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Popular languages
- Libraries
- Data Science Tools
- Arithmetic Expressions

some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala
7. C/C++
8. JavaScript

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Keras
3. Pandas
4. PyTorch
5. SciPy
6. Scikit-Learn
7. TensorFlow
8. Matplotlib

| Data Science Tools |
| ------------------ |
| RStudio |
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

## Author
KEERTHANA S